#nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}
.menu a, menu li{
    color: gray;
    font-size: 28px;
    width: 200px;
    height: 75px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 2s;
}
.menu a:hover, .menu li:hover{
    background-color: blue;
    font-size: 35px;
    transition: all 2s;
}
.menu{
    display: flex;
}
body{
    background: url(../imagenes/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
